.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.align-items-stretch {
  padding: 20px;
}

.account-name {
  text-align: center;
}

.navbar-nav {
  margin-left: 40px;
}

.website-icon {
  width: 200px;
}

.col-button:hover {
  cursor: pointer;
}

.btn-primary {
  width: 18rem;
}

.card {
  margin-bottom: 25px;
}

.footer {
  color: white;
  text-align: center;
  background-color: whitesmoke;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-right: 20;
  padding-top: 5px;
  padding-bottom: 0px;
  position: fixed;
}
.footer-text > * {
  color: rgb(57, 54, 54);
  margin-right: 10px;
}
.footer-text a {
  color: rgb(57, 54, 54);
  text-decoration: none;
}
.nav-link a {
  text-decoration: none;
}